<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="base_mybatis.MybatisMapper">

    <select id="getSomeOneByid1" resultType="hashmap">
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"
    </select>

    <select id="getSomeOneByid2" resultType="User">
        select login_name loginName,password password,sex sex from dm_user
    </select>
    <select id="getSomeOneByid3" resultType="User">
/*别名可以直接字段加空格加别名 或者字段加as 再加别名，loginName as "loginName"*/
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"

    </select>

    <select id="getSomeOneByid4" resultType="User">
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"
    </select>

    <insert id="insertSome1">
/*判断参数映射的名称问题*/
          insert into dm_user ( login_name, password) VALUES (#{login},#{pass})
    </insert>

    <insert id="insertSome2" parameterType ="User">
        /*判断参数映射的名称问题*/
        insert into dm_user ( login_name, password) VALUES (
        #{loginName javaType=String,jdbcType=VARCHAR},
        #{password jdbcType=VARCHAR}
        )
    </insert>


</mapper>