<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="base_mybatis.MybatisMapper">
    <select id="getSomeOneByid1" resultType="HashMap">
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"
    </select>

    <select id="getSomeOneByid2" resultType="User">
        select login_name loginName,password password,sex sex from dm_user
    </select>
    <select id="getSomeOneByid3" resultType="User">
/*别名可以直接字段加空格加别名 或者字段加as 再加别名，loginName as "loginName"*/
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"

    </select>

    <select id="getSomeOneByid4" resultType="User">
        select login_name loginName,password password,sex sex from dm_user where login_name ="123"
    </select>
<!--    <insert id="insertSome0" >
        /*判断参数映射的名称问题*/
        insert into dm_user (login_name, password) VALUES (
        "11123124dff","1112fhhhh"
        )
    </insert>-->
    <insert id="insertSome1"  >
    /*通过序号进行传参*/
    insert into dm_user (login_name, password) VALUES (#{0},#{1})
    </insert>
    <insert id="insertSome2">
        /*dao或者mapper层添加注解 定义传递参数名称即可，实验发现直接调用定义的参数名称是不行的*/
        insert into dm_user (login_name, password) VALUES (#{arg1},#{arg2})
    </insert>

    <insert id="insertSome3"  parameterType="User">
        /*判断参数映射的名称问题*/
        insert into dm_user (login_name, password) VALUES (
        #{loginName,jdbcType=VARCHAR},
        #{password,javaType = String,jdbcType=VARCHAR}
        )
    </insert>



</mapper>